@{
    ViewData["Title"] = "About";
}
<h1>About me</h1>
<dl>
    <dt>Name:</dt>
    <dd>Alex Vestelind</dd>
    <dt>Hobbies:</dt>
    <dd>Video games, disc golf, reading fantasy books</dd>
    <dt>City of birth:</dt>
    <dd>Rörvik</dd>
</dl>