@{
    ViewData["Title"] = "DoctorPage";
}
<h1>Doctor</h1>

<form asp-action="DoctorPage"asp-controller="Doctor"method="post">
@*    <form>*@
    <input id="tempCheck" type="number" placeholder="enter you temperature" name="temp" />
    <button id="tempSubmit" type="submit">Submit</button>
</form>

<p>@ViewBag.Msg</p>